.problem-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    
    flex-wrap: wrap;
    @media (max-width:600px){
        grid-template-columns: repeat(1, 1fr);
    }
    
}